[Desktop Entry]
Exec=bash -c "if which hassmpris-settings >/dev/null 2>&1 ; then hassmpris-settings ; else /usr/bin/python3 -m hassmpris_agent.settings ; fi"
Icon=hassmpris-agent
Type=Application
SingleMainWindow=true
GenericName=Multimedia control from Home Assistant
Name=MPRIS media control settings
Comment=Integration tools between Home Assistant and your media players
Categories=Settings;
